*{
    padding: 0;
    margin: 0;
}
#home{
    background-color: #4C3575; 
    color: white;
    padding: 1% 5%;
    text-align: center;
    margin: 0 0.1%;
}

.home_center{
    margin: 5% 0 2% 0;
}
.center_text p{
    font-size: 1.1rem;
    line-height: 1.6;
    font-family: 'Libre Baskerville', serif;
}
.center_image img{
    width: 63%;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));
    filter: drop-shadow(1px 1px 5px rgb(255, 252, 252));
   
}
.originalname{
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    margin-bottom: 10%;
}
#upcoming_events{
   padding: 5%;
}
.carousel-caption h5{
   font-size: 2.5rem;
   font-weight: 700;
}
#tickets{
    padding: 5%;
}
.card{
   border: 20px;
   margin: 10px auto;
}
.row{
    align-items: center;
}
#contactus{
    text-align: center;
    background-color: #DBDFFD;
    color: rgb(17, 12, 113);
    padding: 2px;
}
.fa{
    font-size: 1.2rem;
    padding: 1rem;
    cursor: pointer;
}
.copyright{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
@media screen and (max-width:991px) {
    .center_image img{
        width: 70%;
    }
}
@media screen and (max-width:460px) {
    .center_image img{
        width: 100%;
    }
}


